Subject: Re: {{ subject }}

As-salamu alaykum {{ name }},

JazakAllah khair for your message. I was moved by your thoughts on {{ topic }}.

{{ body }}

May Allah guide our efforts and bring barakah to this exchange.

Warm regards,  
Dadir
